@import './src/common/styles/sass/mixins.scss';
//@import './src/common/styles/sass/variables.scss';
@import './src/index.module';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 0 50px 60px;

}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo img {
  width: 55px;
  height: 55px;
}

.logo h2 {

  //color: $headerNameColor;
  color: var(--headerNameColor);
  @include text(600, 20px)
}

.lastName {
  @include text(400, 20px)
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    //background-color: $backColor;
    background-color: var(--backColor);
    //box-shadow: 2px 1px 10px $headerLineColor;
    box-shadow: 2px 1px 10px var(--headerLineColor);
    height: 50px;
  }
  .logo img {
    width: 36px;
    height: 36px;


  }
  .logo h2 {
    //color: $headerNameColor;
    color: var(--headerNameColor);
    @include text(600, 18px)
  }

  .lastName {
    @include text(400, 18px)
  }

}
