@import './src/common/styles/sass/mixins.scss';
@import './src/common/styles/sass/variables.scss';

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 15px 40px 15px;
  /*background-color: blue;*/
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo h2 {
  color: #fff;
  @include text(600, 20px)
}

.lastName {
  @include text(400, 20px)
}