.contact {
    background-color: bisque;

}

.contactContainer {
    flex-direction: column;

}

.title {

}


.form {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}
.form input, .form textarea {
    width: 100%;
}
.inputs {

}

.textarea {

}

.button {
    width: 30px;
    height: 15px;
}