@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';


.contactContainer {
  flex-direction: column;

  .title {
    text-align: left;
  }

  .form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
      @include text(400, 12px);
      width: 100%;
      background-color: $lineColorMain;
      color: $textColor;
      padding: 5px;
      border: 1px solid $secondColor;
      margin-bottom: 10px;
      max-width: 100%;
      min-width: 100%;

      &::placeholder {
        color: $secondColor;
      }
    }

    textarea {
      height: 100px;
    }

    .button {
      @include text(400, 14px);
      width: 100%;
      max-width: 170px;
      height: 30px;
      background-color: transparent;
      color: $footerLinksColor;
      border: none;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        background-color: $lineColor;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0.3);
      }

      &:hover {
        background-color: $lineColor;
        transition-delay: 0.3s;
        color: $textColor;

        &::after {
          transform: scaleX(1);
          transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
        }
      }

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
  @media screen and (max-width: 480px) {
    .form {
      width: 100%;
      padding: 0 20px;

      input,
      textarea {
        @include text(400, 10px);
        padding: 3px;
        margin-bottom: 5px;

        &::placeholder {
          font-size: 10px;
        }
      }

      textarea {
        height: 80px;
      }

      .button {
        @include text(400, 12px);
        width: 100%;
        max-width: 150px;
        height: 25px;

        &::after {
          height: 3px;
        }
      }
    }
  }
}

