.myProjects {
background-color: aqua;
}
.projectContainer {
    flex-direction: column;
    justify-content: start;
}
.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
}