.myProjects {
  .projectContainer {
    .projects {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 20px;
      flex-wrap: wrap;
      max-width: 1920px;
      width: 100%;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
    .myprojects {
      justify-content: center;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      .title {
        margin-left: 4.9997vw;
      }
    }
  }
}