.myProjects {
  .projectContainer {
    .projects {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }

    @media screen and (max-width: 550px) {
      width: 100%;
      .title {
        margin-left: 18px;
      }
    }
  }
}