//@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';
@import './src/index.module';

.container {
  display: none;

  .burgerXIcon {
    color: var(--textColor);
  }

  .burgerIcon {
    color: var(--textColor);
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .navOpen {
    .burgerIcon {
      display: none;
    }

    .list {

      list-style: none;
      position: absolute;
      top: 50px;
      right: 0;
      width: 320px;
      height: 100vw;
      background-color: var(--backColor);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px 32px;
      transform: translateX(100%);
      animation: slideIn 0.8s forwards;

      li {
        color: var(--textColor);
        width: 100%;
        @include text(400, 24px);
        padding-bottom: 16px;
        cursor: pointer;

        .active {
          opacity: 1;
        }
      }

      .link {
        opacity: 0.4;
        pointer-events: auto;
      }
    }
  }

  .navClosed {
    .list {
      position: absolute;
      top: 50px;
      right: -320px;
    }

    .burgerXIcon {
      display: none;
    }
  }
}

@keyframes slideIn {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;

  }

  .navOpen {
    opacity: 0.8;

    .list {
      width: 250px;
      height: 100em;

      .li {
        .active {
          opacity: 1.5;
        }
      }

      .link {
        opacity: 0.8;
        pointer-events: auto;
      }
    }
  }


}