@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 450px;
  display: flex;
  flex-direction: column;

  .imgContainer {
    height: 200px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);

    &:hover {
      transform: scale(1.1);
      filter: brightness(100%);
      transition: all 0.3s ease-in-out;
    }
  }

  .projectInfo {
    padding: 25px 0;

    .title {

      @include text(600, 16px);

      //margin: 0 0 5px;
      color: $projTitlesColor;

    }

    .description {
      @include text(400, 12px);

      color: $thirdTextColor;
      .stack {
        @include text(600, 12px);
        //text-align: center;
        //color:$lineColor
      }
    }
  }
}



