.skillsBlock {
  max-width: 1920px;
  width: 100%;

  .skillsContainer {
    .skills {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1920px;
      width: 100%;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}

