.skillsBlock {

    /*background-color: grey;*/

}

.skillsContainer {
    /*flex-direction: column;*/
    /*justify-content: start;*/

}

.title {
    color: white;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 100%;

}