.skillsBlock {
    height: 150vh;
    background-color: grey;
}

.skillsContainer {
    flex-direction: column;
    justify-content: start;
}

.title {
    color: white;
}

.skills {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
}