@import './src/common/styles/sass/mixins';
@import './src/common/styles/sass/variables';


.main .container {
  display: flex;
  justify-content: center;
  padding: 65px 0 15px;
  line-height: 1.75em;

  .photoWrap {
    margin: 0 15px 0 15px;
    min-height: 1px;
    width: 30vw;
    height: 30vw;
    border-radius: 1000px;
    background-color: $photoBorderColor;
    border: 18px solid $photoBorderColor;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);

  }

  .photoWrap:hover {
    background-position: calc(50% + 10px) calc(50% + 3.47835px);
  }

  .textBlock {
    color: $thirdTextColor;
    width: 500px;
    @include text(600, 14px);


    .name {
      line-height: 1.75em;
      color: $textColor;
      @include text(600, 48px);
    }
  }

}

@media screen and (max-width: 768px) {

  .main .container .textBlock .name {
    @include text(600, 36px);
    text-align: center;
    padding: 15px 0;
  }
  .main .container .photoWrap  {
    width: 50vw;
    height: 50vw;
  }
}

@media screen and (max-width: 480px) {
  .main .container .textBlock .name {
    @include text(600, 26px);
  }
}