@import '/src/common/styles/sass/mixins';
@import '/src/index.module';

.skill {
  width: 140px;
  padding: 0 15px 15px;
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img {
  width: 60px;
  height: 60px;
}

.spin {
  animation: rotate 5s linear infinite;
}

.title {
  color: var(--secondTextColor);
  @include text(600, 24)
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}