@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.container {
  //border: 1px white solid;
  width: 60%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.navList a {
  @include text(600, 14px);
  color: $secondTextColor;
  text-decoration: none;
}

.navList li {
  display: inline-block;
  margin: 0;
  padding-right: 5vw;
}

.burgerIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
    width: 3vw;



    .burgerIcon {
      display: block;


    }
  }
  .navList li {
    display: none;

  }

}


//.navListMobile li {
//  position: absolute;
//  top: 0;
//  right: 0;
//  display: flex;
//  flex-direction: column;
//  box-sizing: border-box;
//  text-decoration: none;
//  z-index: 999; /* устанавливаем высокий индекс для элементов */
//}
//
//.navListMobile a {
//  text-decoration: none;
//  @include text(600, 14px);
//  color: $secondTextColor;
//  margin-bottom: 10px; /* добавляем отступ между элементами */
//}

