@import "./variables";


@mixin darkTheme {
  body {
    background-color: $backColor;
    color: $textColor;
  }
}


@mixin lightTheme {
  body {
    background-color: $backColor;
    color: $textColor;
  }
}
