$textColor: #f5f5f5;
$secondTextColor: #aaa;
$thirdTextColor: #d5d5d5;
$projTitlesColor: #e5e5e5;

$backColor: #222;
$footerBackColor: #252525;
$secondColor: #aaa;
$thirdColor: #d5d5d5;


$lineColorMain: #353535;
$lineColor: #007ced;
$lineColorWhiteThem: #54ca95;


$photoBorderColor: #444;