$darkThemeColors: (
        textColor: #f5f5f5,
        headerNameColor: #fff,
        secondTextColor: #aaa,
        thirdTextColor: #d5d5d5,
        projTitlesColor: #e5e5e5,
        footerLinksColor: #ddd,
        backColor: #222,
        footerBackColor: #252525,
        headerLineColor: #171717,
        secondColor: #aaa,
        thirdColor: #d5d5d5,
        lineColorMain: #353535,
        lineColor: #007ced,
        photoBorderColor: #444
);
$darkTextColor: map-get($darkThemeColors, textColor);
$darkHeaderNameColor: map-get($darkThemeColors, headerNameColor);
$darkSecondTextColor: map-get($darkThemeColors, secondTextColor);
$darkThirdTextColor: map-get($darkThemeColors, thirdTextColor);
$darkProjTitlesColor: map-get($darkThemeColors, projTitlesColor);
$darkFooterLinksColor: map-get($darkThemeColors, footerLinksColor);
$darkBackColor: map-get($darkThemeColors, backColor);
$darkFooterBackColor: map-get($darkThemeColors, footerBackColor);
$darkHeaderLineColor: map-get($darkThemeColors, headerLineColor);
$darkSecondColor: map-get($darkThemeColors, secondColor);
$darkThirdColor: map-get($darkThemeColors, thirdColor);
$darkLineColorMain: map-get($darkThemeColors, lineColorMain);
$darkLineColor: map-get($darkThemeColors, lineColor);
$darkPhotoBorderColor: map-get($darkThemeColors, photoBorderColor);



$lightThemeColors: (
        textColor: #333,
        headerNameColor: #222,
        secondTextColor: #333,
        thirdTextColor: #666,
        projTitlesColor: #333,
        footerLinksColor: #333,
        headerLineColor: #d0cfcf,
        backColor: #FFF,
        footerBackColor: #fcfcfc,
        secondColor: #aaa,
        thirdColor: #d5d5d5,
        lineColorMain: #eee,
        lineColor: #54ca95,
        photoBorderColor: #FFF
);

$textColor: map-get($lightThemeColors, textColor);
$headerNameColor: map-get($lightThemeColors, headerNameColor);
$secondTextColor: map-get($lightThemeColors, secondTextColor);
$thirdTextColor: map-get($lightThemeColors, thirdTextColor);
$projTitlesColor: map-get($lightThemeColors, projTitlesColor);
$footerLinksColor: map-get($lightThemeColors, footerLinksColor);
$backColor: map-get($lightThemeColors, backColor);
$footerBackColor: map-get($lightThemeColors, footerBackColor);
$headerLineColor: map-get($lightThemeColors,headerLineColor);
$secondColor: map-get($lightThemeColors, secondColor);
$thirdColor: map-get($lightThemeColors, thirdColor);
$lineColorMain: map-get($lightThemeColors, lineColorMain);
$lineColor: map-get($lightThemeColors, lineColor);
$photoBorderColor: map-get($lightThemeColors, photoBorderColor);


